.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form__label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1.2rem;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.2;
  opacity: 0;
  pointer-events: none;

  @media (min-width: $stop-scaling) {
    margin-bottom: 12px;
    font-size: 16px;
  }

  @media (orientation: portrait) {
    opacity: 1;
    pointer-events: auto;
  }
}

.form__field {
  flex: none;
  height: 6rem;
  width: 6rem;
  margin-right: 3rem;
  padding: 0;
  text-transform: uppercase;
  font: inherit;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-dark;
  border: 0;
  border-radius: 3rem;
  outline: none;

  &:focus {
    border: 1px solid $c-purple;
  }

  &::placeholder {
    color: $c-purple;
    opacity: 0;
    transition: opacity 0.2s ease-in 0.3s;
  }

  .screen--game & {
    transition: flex-grow 0.35s ease-out 0s, padding 0s linear 0.1s;
  }

  .form--result & {
    opacity: 0;
    transition: flex-grow 0.4s ease-out 0.47s, padding 0s linear 0.1s, opacity 0.15s ease-in 0.35s;
  }

  @media (min-width: $stop-scaling) {
    margin-right: 30px;
    width: 6rem;
    height: 60px;
    font-size: 24px;
    border-radius: 30px;
  }

  @media (orientation: portrait) {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin-right: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.6rem;
  }

  .active &,
  .screen--show & {
    flex-grow: 1;
    padding: 0 5.6rem;
    opacity: 1;

    @media (min-width: $stop-scaling) {
      padding: 0 56px;
    }

    @media (orientation: portrait) {
      padding: 0 2.5rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      padding: 0 2.5rem;
    }

    &::placeholder {
      opacity: 0.7;
    }
  }
}

.form__button {
  color: transparent;

  .screen--game & {
    transition: color 0.3s ease-in 0s;

    @media (min-width: $tablet) and (orientation: landscape) {
      width: 17.8rem;
    }
  }

  .form--result & {
    opacity: 0;
    transition: color 0.3s ease-in 0.4s, opacity 0.15s ease-in 0.35s;
  }

  .active &,
  .screen--show & {
    color: $c-dark;
    opacity: 1;
  }

  @media (orientation: portrait) {
    position: relative;
    flex: none;
    padding: 0;
    width: 4rem;
    height: 4rem;
    font-size: 0;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    position: relative;
    flex: none;
    padding: 0;
    width: 6rem;
    height: 6rem;
    font-size: 0;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    width: 4rem;
    height: 4rem;
  }

  svg {
    @include center;
    display: none;
    width: 1.6rem;
    height: 1.8rem;

    @media (min-width: $stop-scaling) {
      width: 16px;
      height: 18px;
    }

    @media (orientation: portrait) {
      display: block;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      display: block;
    }
  }
}

.form--result {
  .form__field {
    width: 6rem;

    @media (orientation: portrait) {
      width: 4rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 6rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 4rem;
    }
  }
}
