$fail-logo-symbols-count: 9;

.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  img {
    display: block;
    position: absolute;
    will-change: transform;
  }

  &-static {
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    z-index: -1;
  }

  &-leaf-1 {
    width: 28rem;
    top: 14rem;
    margin-left: 29rem;
    z-index: 1;
    transform-origin: 0 75% 0;
    animation-name: leaf-1-appears;
    animation-duration: 2.5s;
    animation-delay: 330ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }

  &-leaf-2 {
    width: 27rem;
    top: 24rem;
    margin-left: -40rem;
    z-index: 1;
    transform-origin: 100% 50% 0;
    animation-name: leaf-2-appears;
    animation-duration: 2.4s;
    animation-delay: 310ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }

  &-leaf-green {
    width: 34rem;
    top: 28rem;
    margin-left: 34rem;
    z-index: 2;
    transform-origin: 0 75% 0;
    animation-name: leaf-green-appears;
    animation-duration: 2.2s;
    animation-delay: 440ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
  }

  &-suitcase {
    display: block;
    width: 35rem;
    top: 15rem;
    margin-left: -5rem;
    transform: rotate(-8deg);
    z-index: 3;
    animation-name: suitcase-appears;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
  }

  &-flamingo {
    display: block;
    width: 27rem;
    top: 22rem;
    margin-left: -18rem;
    z-index: 4;
    animation-name: flamingo-appears, flamingo-loop;
    animation-duration: 0.4s, 2.5s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 500ms;
    animation-iteration-count: 1, infinite;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    &-leaf-1 {
      width: 12.7rem;
      top: 11rem;
      margin-left: 15.5rem;
    }

    &-leaf-2 {
      width: 12rem;
      top: 15.7rem;
      margin-left: -16.7rem;
    }

    &-leaf-green {
      width: 15.5rem;
      top: 17.9rem;
      margin-left: 17.4rem;
    }

    &-suitcase {
      width: 16rem;
      top: 11.4rem;
      margin-left: 0;
    }

    &-flamingo {
      width: 13rem;
      top: 14.5rem;
      margin-left: -6rem;
    }

    @media (min-width: $mobile) {
      &-leaf-1 {
        top: 8rem;
      }

      &-leaf-2 {
        top: 12.7rem;
      }

      &-leaf-green {
        top: 14.9rem;
      }

      &-suitcase {
        top: 8.4rem;
      }

      &-flamingo {
        top: 11.5rem;
      }
    }
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    &-leaf-1 {
      top: 2.2rem;
    }

    &-leaf-2 {
      top: 12rem;
    }

    &-leaf-green {
      top: 16.2rem;
    }

    &-suitcase {
      top: 3.5rem;
    }

    &-flamingo {
      top: 10.2rem;
    }

    @media (max-width: $mobile) {
      &-leaf-1 {
        width: 12.7rem;
        top: 6rem;
        margin-left: 15.5rem;
      }

      &-leaf-2 {
        width: 12rem;
        top: 10.7rem;
        margin-left: -16.7rem;
      }

      &-leaf-green {
        width: 15.5rem;
        top: 12.9rem;
        margin-left: 17.4rem;
      }

      &-suitcase {
        width: 16rem;
        top: 6.4rem;
        margin-left: 0;
      }

      &-flamingo {
        width: 13rem;
        top: 9.5rem;
        margin-left: -6rem;
      }
    }
  }
}

.result__svg-result-logo {
  path {
    transition: stroke-dashoffset 0.35s ease-in 0s;

    .screen--show & {
      stroke-dashoffset: 0;
    }
  }

  &--fail {
    overflow: visible;

    path {
      transform: translateY(-100px);
      animation-name: drop;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in;
    }

    @for $i from 1 through $fail-logo-symbols-count {
      path {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 0.05}s;
          transition: stroke-dashoffset 0.35s ease-in #{$i * 0.05}s;
        }
      }
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.2s;

  .screen--show & {
    opacity: 1;
  }

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;
    opacity: 0;
    transform: translateX(4.5rem) rotate(180deg);
    transition: transform 0.3s ease-in 0.3s, opacity 0.2s ease-in 0.3s;

    .screen--show & {
      opacity: 1;
      transform: translateX(0) rotate(0);
    }

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}

@keyframes leaf-1-appears {
  0% {
    opacity: 0;
    transform: rotate(-30deg);
  }

  13% {
    opacity: 1;
    transform: rotate(14deg);
  }

  28% {
    transform: rotate(-6deg);
  }

  45% {
    transform: rotate(4deg);
  }

  61% {
    transform: rotate(-2deg);
  }

  79% {
    transform: rotate(1deg);
  }

  91% {
    transform: rotate(-0.3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes leaf-2-appears {
  0% {
    opacity: 0;
    transform: rotate(30deg);
  }

  13% {
    opacity: 1;
    transform: rotate(-14deg);
  }

  25% {
    transform: rotate(6deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  55% {
    transform: rotate(2deg);
  }

  73% {
    transform: rotate(-1deg);
  }

  88% {
    transform: rotate(0.3deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes leaf-green-appears {
  0% {
    opacity: 0;
    transform: rotate(-28deg);
  }

  12% {
    opacity: 1;
    transform: rotate(12deg);
  }

  31% {
    transform: rotate(-6deg);
  }

  50% {
    transform: rotate(5deg);
  }

  66% {
    transform: rotate(-2deg);
  }

  86% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes flamingo-appears {
  0% {
    opacity: 0;
    transform: translateY(20rem) rotate(-30deg);
  }

  10% {
    opacity: 0;
  }

  85% {
    opacity: 1;
  }
}

@keyframes suitcase-appears {
  0% {
    opacity: 0;
    transform: translate(-2rem, 22rem) rotate(-8deg) scale(0.01);
  }

  15% {
    opacity: 1;
  }

  70% {
    transform: translate(0.6rem, -2rem) rotate(-8deg) scale(1);
  }
}

@keyframes flamingo-loop {
  30% {
    transform: translate(-0.4rem, 1rem) rotate(-3.3deg);
  }

  45% {
    transform: translate(-0.5rem, 1.3rem) rotate(-5deg);
  }

  85% {
    transform: translate(0.1rem, -0.5rem) rotate(3deg);
  }
}

@keyframes drop {
  0% {
    transform: translateY(-100px);
  }

  55% {
    transform: translateY(-65px);
  }

  80% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
